- var n = 1;

div(class='docs')
  div(class='docs__container')
    div(class='docs__inner')
      each doc in docs
        div(class='doc-card')
          span(class='doc-card__serial-number')= `0${n++}`
          h2(class='doc-card__title')
            a(href=`${doc.link}` class='doc-card__link')= doc.title
