- var n = 1;

div(class='l-docs__cards')
  each doc in docs
    div(class='docs-card')
      span(class='docs-card__serial-number')= `0${n++}`
      h2(class='docs-card__title')= doc.title
      p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi soluta eum mollitia reprehenderit praesentium hic.
      a(href='#' class='btn btn--primary') Read More
