include ../../assets/mixins

header(class='header')
  div(class='header__column')
    nav(class='header__navigation')
      ul
        li
          a(href='#') Guides
        li
          a(href='#') Integrations
  div(class='header__actions')
    span(class='open-search')
      +icon('magnifying-glass', 'open-search__icon')
      span(class='open-search__caption') Search
      button(class='btn btn--outline-primary btn--sm open-search__btn') Ctrl K
    div(id='theme-switcher' class='theme-switcher')
      button(class='btn btn--outline-primary btn--sm btn--icon theme-switcher__system-mode' aria-label='Switch to light mode' data-action='light')
        +icon('system-mode', 'btn__icon')
      button(class='btn btn--outline-primary btn--sm btn--icon theme-switcher__light-mode' aria-label='Switch to dark mode' data-action='dark')
        +icon('light-mode', 'btn__icon')
      button(class='btn btn--outline-primary btn--sm btn--icon theme-switcher__dark-mode' aria-label='Switch to system mode' data-action='system')
        +icon('dark-mode', 'btn__icon')

