include ../../assets/mixins

header(class='docs-header')
  div(class='docs-header__column')
    nav(class='docs-header__navigation')
      ul
        li
          a(href='#') Guides
        li
          a(href='#') Integrations
  div(class='docs-header__actions')
    div(id='theme-switcher' class='theme-switcher')
      span(class='theme-switcher__icon')
        +icon('system-mode', 'icon-system')
        +icon('light-mode', 'icon-light')
        +icon('dark-mode', 'icon-dark')
      select(id='select-theme-mode' class='form-control form-control--sm theme-switcher__select' aria-label='Select a theme')
        option(value='system') System
        option(value='light') Light
        option(value='dark') Dark

