include ../../assets/mixins

header(class='header')
  div(class='header__column')
    nav(class='header__navigation')
      ul
        li
          a(href='#') Guides
        li
          a(href='#') Integrations
  div(class='header__actions')
    span(class='open-search')
      +icon('magnifying-glass', 'open-search__icon')
      span(class='open-search__caption') Search
      span(class='btn btn--outline-primary btn--sm open-search__btn') Ctrl K
    div(id='theme-switcher' class='theme-switcher')
      span(class='theme-switcher__icon')
        +icon('system-mode', 'icon-system')
        +icon('light-mode', 'icon-light')
        +icon('dark-mode', 'icon-dark')
      select(id='select-theme-mode' class='form-control form-control--sm theme-switcher__select' aria-label='Select a theme')
        option(value='system') System
        option(value='light') Light
        option(value='dark') Dark

