include ../../assets/mixins

aside.docs-sidebar.l-docs__sidebar
  .docs-sidebar__header
    a(class='docs-sidebar__logo' href='#')
      img(src=`${url}/assets/img/cone-docs-logo-dark.svg` alt='Cone Docs' width='72' height='72' data-theme-mode='data-theme-mode' data-light-asset=`${url}/assets/img/cone-docs-logo-dark.svg` data-dark-asset=`${url}/assets/img/cone-docs-logo-light.svg`)
    button(class='btn btn--primary btn--icon docs-sidebar__toggle' data-action='sidebar-toggle' aria-controls='primary-menu' aria-expanded='false' aria-label='Menu')
      +icon('menu', 'btn__icon')
  div(class='docs-sidebar__body')
    section.docs-sidebar-section
      h3.docs-sidebar-section__title Getting Started
      nav.docs-sidebar-section__navigation
        ul
          li
            a(aria-current='page' href='/docs/getting-started/introduction/') Introduction
          li
            a(href='/docs/getting-started/installation/') Installation
          li
            a(href='/docs/getting-started/structure-and-code/') Structure and Code
          li
            a(href='/docs/getting-started/sass/') Sass
          li
            a(href='/docs/getting-started/accessibility/') Accessibility
          li
            a(href='/docs/getting-started/internationalization/') Internationalization
          li
            a(href='/docs/getting-started/print/') Print
          li
            a(href='/docs/getting-started/js/') JS
          li
            a(href='/docs/getting-started/contribution/') Contribution
          li
            a(href='/docs/getting-started/appendix/') Appendix
    section.docs-sidebar-section
      h3.docs-sidebar-section__title Customization
      nav.docs-sidebar-section__navigation
        ul
          li
            a(href='/docs/customization/settings/') Settings
          li
            a(href='/docs/customization/themes/') Themes
    section.docs-sidebar-section
      h3.docs-sidebar-section__title Sass
      nav.docs-sidebar-section__navigation
        ul
          li
            a(href='/docs/sass/variables/') Variables
          li
            a(href='/docs/sass/mixins/') Mixins
          li
            a(href='/docs/sass/functions/') Functions
    section.docs-sidebar-section
      h3.docs-sidebar-section__title Elements
      nav.docs-sidebar-section__navigation
        ul
          li
            a(href='/docs/elements/generators/') Generators
          li
            a(href='/docs/elements/typography/') Typography
          li
            a(href='/docs/elements/tables/') Tables
          li
            a(href='/docs/elements/buttons/') Buttons
          li
            a(href='/docs/elements/forms/') Forms
          li
            a(href='/docs/elements/media/') Media
