include ../../assets/mixins

aside(class='sidebar l-main__sidebar')
  div(class='sidebar__header')
    a(class='sidebar__logo' href='/html/index.html')
      img(src=`${url}/assets/img/cone-docs-logo-dark.svg` alt='Cone Docs' width='72' height='72' data-theme-mode='data-theme-mode' data-light-asset=`${url}/assets/img/cone-docs-logo-dark.svg` data-dark-asset=`${url}/assets/img/cone-docs-logo-light.svg`)
    button(class='btn btn--primary btn--icon sidebar__toggle' data-action='sidebar-toggle' aria-controls='primary-menu' aria-expanded='false' aria-label='Toogle navigation')
      +icon('menu', 'btn__icon')
  div(class='sidebar__body')
    div(class='sidebar-section')
      h3(class='sidebar-section__title') Getting Started
      nav(class='sidebar-section__navigation')
        ul
          li
            a(aria-current='page' href='single.html') Introduction
          li
            a(href='single.html') Installation
          li
            a(href='single.html') Structure and Code
          li
            a(href='single.html') Sass
          li
            a(href='single.html') Accessibility
          li
            a(href='single.html') Internationalization
          li
            a(href='single.html') Print
          li
            a(href='single.html') JS
          li
            a(href='single.html') Contribution
          li
            a(href='single.html') Appendix
    div(class='sidebar-section')
      h3(class='sidebar-section__title') Customization
      nav(class='sidebar-section__navigation')
        ul
          li
            a(href='single.html') Settings
          li
            a(href='single.html') Themes
    div(class='sidebar-section')
      h3(class='sidebar-section__title') Sass
      nav(class='sidebar-section__navigation')
        ul
          li
            a(href='single.html') Variables
          li
            a(href='single.html') Mixins
          li
            a(href='single.html') Functions
    div(class='sidebar-section')
      h3(class='sidebar-section__title') Elements
      nav(class='sidebar-section__navigation')
        ul
          li
            a(href='single.html') Generators
          li
            a(href='single.html') Typography
          li
            a(href='single.html') Tables
          li
            a(href='single.html') Buttons
          li
            a(href='single.html') Forms
          li
            a(href='single.html') Media
