include ../../assets/mixins

aside(class='sidebar l-main__sidebar')
  div(class='sidebar__header')
    a(class='sidebar__logo' href='/html/index.html')
      img(src=`${url}/assets/img/cone-docs-logo-dark.svg` alt='Cone Docs' width='72' height='72' data-theme-mode='data-theme-mode' data-light-asset=`${url}/assets/img/cone-docs-logo-dark.svg` data-dark-asset=`${url}/assets/img/cone-docs-logo-light.svg`)
    button(class='btn btn--primary btn--icon sidebar__toggle' data-action='sidebar-toggle' aria-controls='primary-menu' aria-expanded='false' aria-label='Toogle navigation')
      +icon('menu', 'btn__icon')
  div(class='sidebar__body')
    div(class='sidebar-section')
      h3(class='sidebar-section__title') Getting Started
      nav(class='sidebar-section__navigation')
        ul
          li
            a(aria-current='page' href='#') Introduction
          li
            a(href='#') Installation
          li
            a(href='#') Structure and Code
          li
            a(href='#') Sass
          li
            a(href='#') Accessibility
          li
            a(href='#') Internationalization
          li
            a(href='#') Print
          li
            a(href='#') JS
          li
            a(href='#') Contribution
          li
            a(href='#') Appendix
    div(class='sidebar-section')
      h3(class='sidebar-section__title') Customization
      nav(class='sidebar-section__navigation')
        ul
          li
            a(href='#') Settings
          li
            a(href='#') Themes
    div(class='sidebar-section')
      h3(class='sidebar-section__title') Sass
      nav(class='sidebar-section__navigation')
        ul
          li
            a(href='#') Variables
          li
            a(href='#') Mixins
          li
            a(href='#') Functions
    div(class='sidebar-section')
      h3(class='sidebar-section__title') Elements
      nav(class='sidebar-section__navigation')
        ul
          li
            a(href='#') Generators
          li
            a(href='#') Typography
          li
            a(href='#') Tables
          li
            a(href='#') Buttons
          li
            a(href='#') Forms
          li
            a(href='#') Media
