extends ../layout.pug

block variables
  -var title = 'Home'

block content
  .l-post
    .l-post__content
      div(class='docs-heading')
        h1(class='docs-heading__title') Cone Docs
        p(class='docs-heading__description') Spruce is a Sass-based minimalistic CSS framework that helps you get the foundation right and manage multiple projects better.
      include ../components/docs
