extends ../layout.pug

block variables
  -var title = 'Home'

block content
  div(class='docs-heading')
    h1(class='docs-heading__title') Eleventy Theme Made for Documentation
    p(class='docs-heading__description') Do you work on a project that requires a documentation? This theme is for you. It's a simple, clean and responsive theme for Eleventy.
  include ../components/card
