extends ../layout.pug

block variables
  -var title = 'Home'

block content
  div(class='l-front-page')
    div(class='post-heading')
      h1(class='post-heading__title') Eleventy Theme Made for Documentation
      p(class='post-heading__description') Do you work on a project that requires a documentation? This theme is for you. It's a simple, clean and responsive theme for Eleventy.
    include ../components/card
