extends ../layout.pug

block variables
  -var title = 'Home'

block content
  div(class='docs-heading')
    ol(class='breadcrumb-list docs-heading__breadcrumb')
      li
        a(href='#') Home
      li
        a(href='#') Blog
      li
        span(aria-current='page') Why Mountains Is No Friend to Small Business
    h1(class='docs-heading__title') Introduction
  div(style='display: grid; gap: 4rem; grid-template-columns: 1fr 15rem;')
    div(class='post-toc' aria-labelledby='toc-title' style='order: 2;')
      h3#toc-title.toc__title On this page
      nav.toc__navigation
        ol
          li
            a(href='#categories') Categories
          li
            a(href='#patterns-and-components') Patterns and Components
          li
            a(href='#spruce-css-is-needed-but-you-can-switch-it') Spruce CSS Is Needed, but You Can Switch It
          li
            a(href='#contribution') Contribution
    div(class='post-content')
      p(class='lead') Woodlands payment Osgiliath tightening. Barad-dur follow belly comforts tender tough bell? Many that live deserve death. Some that die deserve life. Outwitted teatime grasp defeated before stones reflection corset seen animals Saruman’s call?
        h2 Tad Survive Ensnare Joy Mistake Courtesy Bagshot Row
        p Ligulas step drops both? You shall not pass! Tender respectable success Valar impressive unfriendly bloom scraped? Branch hey-diddle-diddle pony trouble’ll sleeping during jump Narsil.
        h3 North Valor Overflowing Sort
        p Curse you and all the halflings! Deserted anytime Lake-town burned caves balls. Smoked lthilien forbids Thrain?
        div(class='aspect-ratio-16-9')
          iframe(src='https://www.youtube.com/embed/umbiR1sbap8' frameborder='0' allowfullscreen lazyload)
        ul
          li Adamant.
          li Southfarthing!
          li Witch-king.
          li Precious.
          li Gaffer’s!
        ul
          li Excuse tightening yet survives two cover Undomiel city ablaze.
          li Keepsakes deeper clouds Buckland position 21 lied bicker fountains ashamed.
          li Women rippling cold steps rules Thengel finer.
          li Portents close Havens endured irons hundreds handle refused sister?
          li Harbor Grubbs fellas riddles afar!
        h3 Narsil Enjoying Shattered Bigger Leaderless Retrieve Dreamed Dwarf
        p Ravens wonder wanted runs me crawl gaining lots faster! Khazad-dum surprise baby season ranks. I bid you all a very fond farewell.
        ol
          li Narsil.
          li Elros.
          li Arwen Evenstar.
          li Maggot’s?
          li Bagginses?
        ol
          li Concerning Hobbits l golf air fifth bell prolonging camp.
          li Grond humble rods nearest mangler.
          li Enormity Lorien merry gravy stayed move.
          li Diversion almost notion furs between fierce laboring Nazgûl ceaselessly parent.
          li Agree ruling um wasteland Bagshot Row expect sleep.
        h3 Ere Answering Track Forests Shards Roof!
        p Delay freezes Gollum. Let the Ring-bearer decide. Bagshot Row chokes pole pauses immediately orders taught &eacute;ored musing three-day? Disease rune repel source fire Goblinses already?
        div(class='table-responsive')
          table(class='table table--striped table--rounded table--clear-border')
            thead
              tr
                th
                th Dangers
                th Playing
                th Window
                th Meaning
                th Pace
            tbody
              tr
                td Current
                td living
                td odds
                td charged
                td heads
                td felt
              tr
                td Inn
                td climbing
                td destroying
                td overhead
                td roll
                td mud
              tr
                td Breath
                td relevant
                td &eacute;ored
                td hinges
                td year
                td signed
              tr
                td Accept
                td threads
                td name
                td fitted
                td precious
                td attacked
              tr
                td Chief
                td sails
                td first-born
                td pottery
                td lever
                td antagonize
              tr
                td Unoccupied
                td victorious
                td means
                td lovely
                td humble
                td force
            tfoot
              tr
                td kinsmen
                td give
                td walking
                td thousand
                td manners
                td burning
        h4 Afraid Smithy Fellowship Debt Carven Hooks
        p What about second breakfast? Nags runt near Lindir lock discover level? Andûril breathe waited flatten union.
        blockquote
          p You shall be the Fellowship of the Ring.
          footer Númenor,
            cite sweeter burned verse
        h5 Should Shirelings Extraordinary Spends Poison’s Willing Enchantment
        p I think we should get off the road. Penalty sight splintered Misty Mountain mithril? Unrest lasts rode league bears absence Bracegirdle athletic contract nice parent slowed?
        h6 Improve Drops Absolutely Tight Deceit Potent Treebeard Startled
        p J.R.R. Tolkien 3000 uttered veins roaring winds moaning flaming. Meddle #[ins measure pure Samwise Gamgee business!] #[sub Lied mistake Proudfoots pon. Instance 80] morbid ceremonial plunge Anor mad. Questions shells hangs noble Proudfoots throws. #[mark Rampart damage questions Chubbs 3000 conjurer? Single tempt peasants] #[strong Bolg Athelas Mordor Wraiths Azog Undomiel mangler?] Nori Giants Undomiel Rivendell spike posts took. Fool’s Underhill boarded #[cite vanishing twilight unheard-of.] #[abbr Presence Dunland lamb lair]. Barricade #[sup didn’t feelings purring vine Morgoth. Distract Giants nearing champion] T. Clothing titles quick bother #[em Arod Gloin Beren troop? Balls crashing bastards] #[small arrives precisely rascal stubbornness Snowbourn. Hobbitses rose barren] #[a strengths tested mirrors moonlight] password center? Remade free filthy breaking respect amuse Arod? Vengeance #[del Elessar Wolves posts remain doorway] said! Suspects fight Merry hungers locked yelp.
        hr
        dl
          dt Abandon
          dd Tact flies disturber thinking hospitality Elros act vest handy ranks.
          dt Devil
          dd Boneses spilled Caradhras hungry pace lanterns glory haunted shone forging.
          dd Unprotected Beorn’s fireworks dream journey beacon dwells gnaws key.
          dt Happened
          dd Known wanna fifth Bill hell knew she scale.
          dd Missing vanish taken colleague sway voice tricks 13 Grimbold.
          dd Thereof skills kingsfoil innocent riding light Thorin Oakenshield won.
        figure(class='figure')
          img(src='https://images.unsplash.com/photo-1610752400564-c97cbbb5cfba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80' alt='three brown wooden boat on blue lake water taken at daytime' lazyload)
          figcaption(class='figure-caption') Donec at arcu ac diam sodales elementum ac sit amet tortor.
