@forward 'config';
@forward 'layout';
@forward 'component';

@use 'sprucecss/scss/spruce';

:root {
  @include spruce.set-css-variable((
    --section-gap: clamp(5rem, 7vw, 7rem),
    --container-gap: spruce.spacer-clamp(m, l),
    --max-content-width: 70rem,
    --box-shadow: 0 0.75rem 1.25rem hsl(0 0% 0% / 5%)
  ));
}

.btn--icon {
  border-radius: 2rem;
}

body {
  position: relative;
  /*
  &::before {
    background-image: linear-gradient(
      325deg,
      hsl(228deg 100% 98%) 0%,
      hsl(228deg 100% 98%) 5%,
      hsl(228deg 100% 98%) 10%,
      hsl(228deg 100% 98%) 15%,
      hsl(228deg 100% 98%) 20%,
      hsl(228deg 100% 99%) 25%,
      hsl(228deg 100% 99%) 29%,
      hsl(228deg 100% 99%) 34%,
      hsl(228deg 100% 99%) 39%,
      hsl(228deg 100% 99%) 44%,
      hsl(228deg 100% 99%) 48%,
      hsl(228deg 100% 99%) 53%,
      hsl(228deg 100% 99%) 58%,
      hsl(228deg 100% 99%) 62%,
      hsl(228deg 100% 99%) 67%,
      hsl(228deg 100% 99%) 72%,
      hsl(228deg 100% 100%) 76%,
      hsl(228deg 100% 100%) 81%,
      hsl(228deg 100% 100%) 86%,
      hsl(228deg 100% 100%) 91%,
      hsl(228deg 100% 100%) 95%,
      hsl(0deg 0% 100%) 100%
    );
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
  }
  */
}
