{% extends "layouts/base.html" %} {% block content %}
<div class="l-front-page">
    <div class="post-heading">
        {% if (title) %}
            <h1 class="post-heading__title">
                {{ title }}
            </h1>
        {% endif %}
        {% if (description) %}
            <p class="post-heading__description">
                {{ description }}
            </p>
        {% endif %}
    </div>
    {% if cards %}
        <div class="l-card">
            {% for card in cards %}
                <div class="card">
                    <span class="card__serial-number"></span>
                    <h2 class="card__title">{{ card.title }}</h2>
                    <p>{{ card.description }}</p>
                    <a class="btn btn--primary" href="{{ card.url }}">Read More</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
