{% extends "layouts/base.html" %}

{% block content %}
<div class="l-post">
    <div class="post-heading">
        {% set breadcrumbs = collections.all | eleventyNavigationBreadcrumb(title, { includeSelf: true }) %}
        {% include "partials/breadcrumbs.html" %}
      <h1 class="post-heading__title">{{ title }}</h1>
    </div>
    <div class="l-post__list">
        {{ eleventyNavigation.key }}
        <hr>

        {% for post in collections.all | parentFilter(eleventyNavigation.key) %}
            {{ post.data.title }}
        {% endfor %}
    </div>
  </div>
{% endblock %}
