<aside class="sidebar l-main__sidebar">
    <div class="sidebar__header"><a class="sidebar__logo" href="/html/index.html"><img src="/assets/img/cone-docs-logo-dark.svg" alt="Cone Docs" width="72" height="72" data-theme-mode="data-theme-mode" data-light-asset="/assets/img/cone-docs-logo-dark.svg" data-dark-asset="/assets/img/cone-docs-logo-light.svg"></a>
      <button class="btn btn--primary btn--icon sidebar__toggle" data-action="sidebar-toggle" aria-controls="primary-menu" aria-expanded="false" aria-label="Toogle navigation">
        <svg class="icon btn__icon" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" width="24" height="24" style="fill:currentColor;">
                  <path d="M24,19.6c0,-0.331 -0.269,-0.6 -0.6,-0.6l-20.8,0c-0.331,0 -0.6,0.269 -0.6,0.6l0,2.8c0,0.331 0.269,0.6 0.6,0.6l20.8,-0c0.331,-0 0.6,-0.269 0.6,-0.6l0,-2.8Zm0,-9c0,-0.331 -0.269,-0.6 -0.6,-0.6l-22.8,-0c-0.331,-0 -0.6,0.269 -0.6,0.6l0,2.8c0,0.331 0.269,0.6 0.6,0.6l22.8,-0c0.331,-0 0.6,-0.269 0.6,-0.6l0,-2.8Zm0,-9c0,-0.331 -0.269,-0.6 -0.6,-0.6l-15.8,-0c-0.331,-0 -0.6,0.269 -0.6,0.6l0,2.8c0,0.331 0.269,0.6 0.6,0.6l15.8,-0c0.331,-0 0.6,-0.269 0.6,-0.6l0,-2.8Z"></path>
        </svg>
      </button>
    </div>
    <div class="sidebar__body">
      <div class="sidebar-section">
        <h3 class="sidebar-section__title">Getting Started</h3>
        <nav class="sidebar-section__navigation">
          <ul>
            <li><a aria-current="page" href="single.html">Introduction</a></li>
            <li><a href="single.html">Installation</a></li>
            <li><a href="single.html">Structure and Code</a></li>
            <li><a href="single.html">Sass</a></li>
            <li><a href="single.html">Accessibility</a></li>
            <li><a href="single.html">Internationalization</a></li>
            <li><a href="single.html">Print</a></li>
            <li><a href="single.html">JS</a></li>
            <li><a href="single.html">Contribution</a></li>
            <li><a href="single.html">Appendix</a></li>
          </ul>
        </nav>
      </div>
      <div class="sidebar-section">
        <h3 class="sidebar-section__title">Customization</h3>
        <nav class="sidebar-section__navigation">
          <ul>
            <li><a href="single.html">Settings</a></li>
            <li><a href="single.html">Themes</a></li>
          </ul>
        </nav>
      </div>
      <div class="sidebar-section">
        <h3 class="sidebar-section__title">Sass</h3>
        <nav class="sidebar-section__navigation">
          <ul>
            <li><a href="single.html">Variables</a></li>
            <li><a href="single.html">Mixins</a></li>
            <li><a href="single.html">Functions</a></li>
          </ul>
        </nav>
      </div>
      <div class="sidebar-section">
        <h3 class="sidebar-section__title">Elements</h3>
        <nav class="sidebar-section__navigation">
          <ul>
            <li><a href="single.html">Generators</a></li>
            <li><a href="single.html">Typography</a></li>
            <li><a href="single.html">Tables</a></li>
            <li><a href="single.html">Buttons</a></li>
            <li><a href="single.html">Forms</a></li>
            <li><a href="single.html">Media</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </aside>
