@use 'sprucecss/scss/spruce';

.docs-heading {
  @include spruce.layout-stack(s);
  margin-block: spruce.spacer-clamp(xl, xxl) spruce.spacer-clamp(m, l);

  &__title {
    font-size: spruce.responsive-font-size(4.25rem, 40, '3.5vw');
    line-height: spruce.$line-height-sm;
    max-width: 25ch;
  }

  &__description {
    font-size: spruce.font-size(h4);
    max-width: 40ch;
  }
}
