@use 'sprucecss/scss/spruce';

.docs-heading {
  @include spruce.layout-stack(s);
  margin-block: spruce.spacer-clamp(xl, xxl);

  @include spruce.breakpoint(sm) {
    margin-block: spruce.spacer-clamp(xl, xxl) spruce.spacer-clamp(m, l);
  }

  &__title {
    font-size: spruce.responsive-font-size(3.5rem, 30, '4.5vw');
    line-height: spruce.$line-height-sm;
    max-width: 18ch;
  }

  &__description {
    font-size: spruce.responsive-font-size(1.2rem, 40, '0.1vw + 1rem');
    max-width: 50ch;
  }
}
