@use 'sprucecss/scss/spruce';

.docs-footer {
  @include spruce.layout-grid(spruce.spacer(l), 12rem);
  padding-block: spruce.get-css-variable(--section-gap);

  &__logo {
    --dimension: 4rem;
    display: flex;
    height: var(--dimension);
    width: var(--dimension);
  }

  &__socials {
    align-items: center;
    display: flex;
    gap: spruce.spacer(s);

    a {
      color: spruce.color(heading);
      display: inline-flex;

      &:hover,
      &:focus {
        color: spruce.color(primary);
      }
    }

    svg {
      --dimenstion: 1.25rem;
      height: var(--dimenstion);
      width: var(--dimenstion);
    }
  }

  &__title {
    font-size: spruce.font-size(h4);
  }

  &__navigation {
    @include spruce.clear-list;
    @include spruce.layout-stack(xs);

    a {
      color: spruce.color(text);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active,
      &[aria-current='page'] {
        color: spruce.color(primary);
      }

      &[aria-current='page'] {
        font-weight: 700;
      }
    }
  }

  &__column {
    @include spruce.layout-stack(m);
  }
}
