@use 'sprucecss/scss/spruce';

.docs {
  @include spruce.layout-grid(spruce.spacer(l), 22.5rem);
  max-width: 65rem;
}

.doc-card {
  $this: &;

  @include spruce.a11y-card-link('.doc-card__link', true);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 20px;
  background-color: spruce.color(background, card);
  // border: 1px solid spruce.color(border, card);
  border-radius: spruce.$border-radius-sm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
  padding: clamp(spruce.spacer(m), 7vw, spruce.spacer(l));
  text-decoration: none;

  &__serial-number {
    color: spruce.color(primary);
    font-family: spruce.$font-family-heading;
    font-size: spruce.responsive-font-size(4rem, 30, '4vw + 1rem');
    font-weight: 700;
    line-height: 1;
  }

  &__title {
    font-size: spruce.font-size(h3);
    margin-block: spruce.spacer(m) 0;
  }

  &__link {
    color: spruce.color(heading);
    text-decoration: none;
    transition-duration: 0s;
  }
}
