@use 'sprucecss/scss/spruce';

@mixin sidebar-active-menu-marker {
  color: spruce.color(heading);
  font-weight: 700;
  position: relative;

  &::before {
    background-color: spruce.color(primary);
    border-radius: 0 spruce.$border-radius-sm spruce.$border-radius-sm 0;
    bottom: 0;
    content: '';
    inset-inline-start: -1rem;
    position: absolute;
    top: 0;
    width: 0.3rem;
  }
}

@mixin sidebar-title {
  color: spruce.color(heading);
  font-size: spruce.$font-size-base;
  margin-block: 0;
}

.docs-sidebar {
  display: flex;
  flex-direction: column;
  gap: spruce.spacer(m);
  margin-block: spruce.spacer(m) 0;

  @include spruce.breakpoint(sm) {
    margin-block: spruce.spacer(l);
    padding-inline-end: spruce.get-css-variable(--container-gap);
  }

  &__header {
    height: 3.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include spruce.breakpoint(md) {
      height: 4rem;
    }
  }

  &__logo {
    --dimension: 3.5rem;
    display: inline-flex;
    height: var(--dimension);
    width: var(--dimension);

    @include spruce.breakpoint(md) {
      --dimension: 4rem;
    }
  }

  &__body {
    @include spruce.layout-stack(m);
    @include spruce.scrollbar(
      spruce.color(thumb-background, scrollbar),
      spruce.color(thumb-background-hover, scrollbar),
      spruce.color(track-background, scrollbar),
      0.5rem,
      0.15rem
    );
    max-height: calc(100vh - 3.5rem - 1.5rem - 1.5rem - 1.5rem);
    flex-grow: 2;
    overflow-y: auto;

    @include spruce.breakpoint(md) {
      max-height: initial;
    }
  }
}

.docs-sidebar-section {
  &__title {
    @include sidebar-title;
  }

  &__navigation {
    border-inline-start: 1px solid spruce.color(border);
    font-size: 1rem;
    margin-block-start: 1rem;
    padding-inline-start: 1rem;

    ul {
      @include spruce.clear-list;
    }

    a {
      color: spruce.color(text);
      text-decoration: none;

      &[aria-current='page'] {
        @include sidebar-active-menu-marker;
      }
    }
  }
}
