@use 'sprucecss/scss/spruce';

.site-header {
  position: relative;

  &__inner {
    --height: 6rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: spruce.spacer-clamp(s, l);
    height: var(--height);
    justify-content: space-between;
  }

  &__column {
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: spruce.spacer-clamp(s, l);
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: spruce.spacer-clamp(s, l);
  }

  &__logo {
    --dimension: 4rem;
    display: inline-flex;
    height: var(--dimension);
    width: var(--dimension);
  }

  &__email {
    display: none;
    text-decoration: none;

    @include spruce.breakpoint(sm) {
      display: inline-block;
    }
  }

  &__navigation {
    margin-inline-start: auto;

    @include spruce.breakpoint(md) {
      margin-inline-start: 0;
    }

    ul {
      border-block-start: 1px solid spruce.color(border);

      @include spruce.breakpoint(sm) {
        border-block: none;
      }
    }
  }
}
