@use 'sprucecss/scss/spruce';

.site-footer {
  padding-block: spruce.spacer-clamp(xl, xxl, 10vw);

  &__top {
    @include spruce.layout-grid(spruce.spacer(l), 14rem);
  }

  &__logo {
    --dimension: 4rem;
    display: inline-flex;
    height: var(--dimension);
    width: var(--dimension);
  }

  &__socials {
    align-items: center;
    display: flex;
    gap: spruce.spacer(s);

    a {
      color: spruce.color(heading);
      display: inline-flex;
    }

    svg {
      --dimenstion: 1.25rem;
      height: var(--dimenstion);
      width: var(--dimenstion);
    }
  }

  &__title {
    font-size: spruce.font-size(h4);
    margin-block: 0 spruce.spacer(m);
  }

  &__navigation {
    @include spruce.clear-list;
    @include spruce.layout-stack(spruce.spacer(xs));

    a {
      color: spruce.color(text);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active,
      &[aria-current='page'] {
        color: spruce.color(primary);
      }

      &[aria-current='page'] {
        font-weight: 700;
      }
    }
  }
}
