@use 'sprucecss/scss/spruce';

.site-header {
  --height: 4rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: spruce.spacer-clamp(s, l);
  height: var(--height);
  justify-content: space-between;
  inset-block-start: 0;
  z-index: 1;
  border-block-end: 1px solid hsl(0 0% 0% / 5%);
  position: sticky;
  top: 0;

  &__column {
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: spruce.spacer-clamp(s, l);
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: spruce.spacer-clamp(s, m);
  }

  &__logo {
    --dimension: 4rem;
    display: inline-flex;
    height: var(--dimension);
    width: var(--dimension);
  }

  &__email {
    display: none;
    text-decoration: none;

    @include spruce.breakpoint(sm) {
      display: inline-block;
    }
  }

  &__socials {
    align-items: center;
    display: flex;
    gap: spruce.spacer(s);

    a {
      color: spruce.color(heading);
      display: inline-flex;
    }

    svg {
      --dimenstion: 1.25rem;
      height: var(--dimenstion);
      width: var(--dimenstion);
    }
  }

  &__navigation {
    margin-inline-start: auto;

    @include spruce.breakpoint(md) {
      margin-inline-start: 0;
    }

    ul {
      border-block-start: 1px solid spruce.color(border);

      @include spruce.breakpoint(sm) {
        border-block: none;
      }
    }
  }
}
