@use 'sprucecss/scss/spruce';

.l-documentation {
  display: grid;
  gap: spruce.get-css-variable(--container-gap);
  grid-template-columns: 20rem 1fr;
  margin-inline: spruce.get-css-variable(--container-gap);

  &__sidebar {
    border-inline-end: 1px solid hsl(0 0% 0% / 5%);
    position: sticky;
    inset-block-start: 0;
    max-height: 100vh;
  }
}
