@use 'sprucecss/scss/spruce';

.l-documentation {
  display: grid;
  gap: spruce.get-css-variable(--container-gap);
  grid-template-columns: minmax(0, 1fr);
  margin-inline: spruce.get-css-variable(--container-gap);

  @include spruce.breakpoint(md) {
    grid-template-columns: minmax(0, 20rem) minmax(0, 1fr);
  }

  &__sidebar {
    border-inline-end: 1px solid hsl(0 0% 0% / 5%);
    position: sticky;
    inset-block-start: spruce.spacer(l);
    max-height: calc(100vh - #{spruce.spacer(l)} * 2);
  }
}
