@use 'sprucecss/scss/spruce';

.site-main {
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: spruce.spacer-clamp(m, l);

  &__sidebar {
    position: sticky;
    inset-block-start: 0;
    max-height: 100vh;
  }
}
