@use 'sprucecss/scss/spruce';

.l-post {
  --gtc: minmax(0, 1fr);

  display: grid;
  gap: spruce.get-css-variable(--container-gap);

  @include spruce.breakpoint(md) { --gtc: minmax(0, 1fr) minmax(0, 20rem); }
}
