block variables
-var time = Date.now();

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Spruce CSS Starter Kit - #{title}
    link(rel='icon' href='../../assets/img/favicon.png' sizes='32x32')
    link(rel='stylesheet' href=`../../assets/css/main.css?time=${time}`)

    block styles
  body
    main(id='content' class='l-documentation')
      include components/sidebar
      div(class='l-documentation__body')
        include components/header
        block content
        include components/footer

    include ../../assets/icon/icons.svg
    script(src='../../assets/js/main.js')
