@use 'sprucecss/scss/spruce';

.theme-switcher {
  color: spruce.color(text);
  display: inline-flex;
  position: relative;

  &[data-theme-mode='system'] &__system-mode { display: flex; }
  &[data-theme-mode='light'] &__light-mode { display: flex; }
  &[data-theme-mode='dark'] &__dark-mode { display: flex; }

  button {
    --dimension: 2rem;

    @include spruce.clear-btn;
    align-items: center;
    display: none;
    justify-content: center;
    height: var(--dimension);
    width: var(--dimension);

    > * {
      pointer-events: none;
    }
  }

  svg {
    height: 1.25em;
    width: 1.25em;
  }
}
