@use 'sprucecss/scss/spruce';

.toc {
  @include spruce.layout-stack(s);

  &__title {
    font-size: spruce.font-size(h4);
  }

  &__navigation {
    ol {
      @include spruce.clear-list;
      @include spruce.layout-stack(xs);
    }

    a {
      color: spruce.color(text);
      text-decoration: none;

      &:hover,
      &:focus {
        color: spruce.color(primary);
      }
    }
  }
}
