@use 'sprucecss/scss/spruce' as *;

.container {
  --container-width: #{config('container-width', $layout)};
  --container-gap: #{get-css-variable(--container-gap)};

  @include layout-center(
    var(--container-gap),
    var(--container-width)
  );

  &--wide {
    --container-width: 110rem;
  }

  &--narrow {
    --container-width: 50rem;
  }
}
