@use 'sprucecss/scss/spruce' as *;

.l-list {
  --gtc: minmax(0, 1fr);

  display: grid;
  gap: spacer('l');
  grid-template-columns: var(--gtc);
  margin-block-start: spacer-clamp('l', 'xxl');

  @include breakpoint('md') {
    --gtc: minmax(0, 1fr) minmax(0, 15rem);
  }

  &__inner {
    grid-column: 1 / 3;
  }

  .post-heading {
    @include breakpoint('md') {
      grid-column: 1 / 3;
    }
  }
}
