@use 'sprucecss/scss/spruce';

.l-post {
  --gtc: minmax(0, 1fr);

  display: grid;
  gap: spruce.get-css-variable(--container-gap);
  grid-template-columns: var(--gtc);
  margin-block-start: spruce.spacer-clamp(xl, xxl);

  @include spruce.breakpoint(md) { --gtc: minmax(0, 1fr) minmax(0, 15rem); }

  &__toc {
    @include spruce.breakpoint(md) {
      order: 2;
    }

    .toc {
      inset-block-start: spruce.spacer(l);
      position: sticky;
    }
  }

  .post-heading {
    @include spruce.breakpoint(md) {
      grid-column: 1 / 3;
    }
  }
}
