@use 'sass:color';
@use 'dark-colors' as dark;

$color-primary: hsl(238 100% 50%);
$color-secondary: hsl(186 100% 60%);

@use 'sprucecss/scss/spruce' with (
  $color-primary: $color-primary,
  $color-secondary: $color-secondary,
  $colors: (
    base: (
      border: hsl(0 0% 0% / 5%),
      heading: hsl(232 68% 11%),
      text: #435769,
      code-background: hsl(224 94% 97%)
    ),
    card: (
      background: hsl(0, 0%, 100%)
    ),
    scrollbar: (
      thumb-background: hsla(229, 26%, 48%, 0.15),
      thumb-background-hover:	hsl(0 0% 0% / 0.25),
      track-background:	hsla(226, 100%, 87%, 0.15)
    )
  ),
  $dark-colors: dark.$colors,
  $font-family-base: #{'Open Sans', sans-serif},
  $font-family-heading: #{'Sora', sans-serif},
  $btn-padding: 0.75em 1.5em,
  $btn-padding-lg: 1em 2em,
  $btn-font-family: #{'Sora', sans-serif}
);
