@use 'sprucecss/scss/spruce';

@include spruce.generate-color-variables(
  spruce.$dark-colors,
  ':root[data-theme-mode="dark"]'
);

[data-theme-mode='dark'] {
  @include spruce.selection(primary);

  color-scheme: dark;

  body::before { display: none; }
  .card { border: 1px solid spruce.color(border); }

  select.form-control:not([multiple]):not([size]) {
    @include spruce.field-icon(
      spruce.$select-icon,
      spruce.color(select-foreground, form, true, spruce.$dark-colors)
    );
  }
}
