<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="../../assets/js/theme-detection.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - Documentation</title>
        <link rel="icon" href="../../assets/img/favicon.svg" sizes="32x32">
        <link rel="stylesheet" href="../../assets/css/main.css?time=1678978558058">
    </head>
    <body>
        <div class="container container--wide">
            <main class="l-main" id="content">
            </main>
        </div>
    </body>
</html>
