{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="/js/theme-detection.js?{{ assetHash }}"></script>
        <script src="/js/theme-change-assets.js?{{ assetHash }}"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
        {% include "partial/meta-info.html" %}
        <link rel="stylesheet" href="/css/main.css?{{ assetHash }}">
    </head>
    <body>
        <a class="btn btn--primary skip-link" href="#content">Skip to content</a>

        <div id="content" tabindex="-1" class="container container--wide">
            <main class="l-main" id="content">
                {% include "partial/sidebar.html" %}
                <div class="l-main__body">
                    {% include "partial/header.html" %}
                    {% block content %}{% endblock %}
                    {% include "partial/footer.html" %}
                </div>
            </main>
        </div>
        <script src="/js/navigation.js?{{ assetHash }}"></script>
        <script src="/js/theme-switcher.js?{{ assetHash }}"></script>
    </body>
</html>
