/* Error: "The icon-background-hover key name doesn't exist under navigation at the specified map (default: $colors)."
 *    ,
 * 24 |       background-color: color('icon-background-hover', 'navigation');
 *    |                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src\scss\component\_post-navigation.scss 24:25  @forward
 *   src\scss\component\_index.scss 15:1             @forward
 *   src\scss\main.scss 3:1                          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: \"The icon-background-hover key name doesn't exist under navigation at the specified map (default: $colors).\"\a    \2577 \a 24 \2502        background-color: color('icon-background-hover', 'navigation');\a    \2502                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src\\scss\\component\\_post-navigation.scss 24:25  @forward\a   src\\scss\\component\\_index.scss 15:1             @forward\a   src\\scss\\main.scss 3:1                          root stylesheet";
}
