@use 'sprucecss/scss/spruce' as *;

.breadcrumb-list {
  @include clear-list;
  align-items: center;
  display: flex;
  font-family: config('family-heading', $typography);
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  > li {
    align-items: center;
    display: inline-flex;
    margin-block: 0;

    + li::before {
      border-block-end: 2px solid color(separator, breadcrumb);
      border-inline-end: 2px solid color(separator, breadcrumb);
      content: '';
      display: inline-flex;
      height: 0.4em;
      margin-inline: 0.75em;
      transform: rotate(-45deg);
      width: 0.4em;
    }
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  [aria-current='page'] {
    @include text-ellipsis(1);
    display: inline-block;
    text-align: start;
    width: 30ch;
  }
}
