@use 'sprucecss/scss/spruce' as *;

.footer {
  --logo-height: 4rem;
  --logo-width: 4rem;

  background-color: color('background', 'footer');
  padding-block: get-css-variable(--section-gap);

  &__inner {
    @include layout-grid('l', 12rem);

  }

  &__logo {
    display: flex;
    height: var(--logo-height);
    width: var(--logo-width);
  }

  &__socials {
    align-items: center;
    display: flex;
    gap: spacer('s');

    a {
      color: color('heading');
      display: inline-flex;

      &:hover,
      &:focus {
        color: color('primary');
      }
    }

    svg {
      --dimension: 1.25rem;
      height: var(--dimension);
      width: var(--dimension);
    }
  }

  &__title {
    font-size: font-size('h4');
  }

  &__navigation {
    @include clear-list;
    @include layout-stack('xs');

    a {
      align-items: center;
      color: color('text');
      display: flex;
      gap: spacer('xs');
      text-decoration: none;

      &:hover,
      &:focus,
      &:active,
      &[aria-current='page'] {
        color: color('primary');
      }

      &[aria-current='page'] {
        font-weight: 700;
      }

      svg {
        --dimension: 0.65em;
        color: color('arrow', 'navigation');
        height: var(--dimension);
        width: var(--dimension);
      }
    }
  }

  &__column {
    @include layout-stack('m');
  }
}
