@use 'sprucecss/scss/spruce' as *;

.footer {
  --logo-height: 4rem;
  --logo-width: 4rem;

  @include layout-grid(spacer(l), 12rem);
  padding-block: get-css-variable(--section-gap);

  &__logo {
    display: flex;
    height: var(--logo-height);
    width: var(--logo-width);
  }

  &__socials {
    align-items: center;
    display: flex;
    gap: spacer(s);

    a {
      color: color(heading);
      display: inline-flex;

      &:hover,
      &:focus {
        color: color(primary);
      }
    }

    svg {
      --dimenstion: 1.25rem;
      height: var(--dimenstion);
      width: var(--dimenstion);
    }
  }

  &__title {
    font-size: font-size(h4);
  }

  &__navigation {
    @include clear-list;
    @include layout-stack(xs);

    a {
      color: color(text);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active,
      &[aria-current='page'] {
        color: color(primary);
      }

      &[aria-current='page'] {
        font-weight: 700;
      }
    }
  }

  &__column {
    @include layout-stack(m);
  }
}
