@use 'sprucecss/scss/spruce' as *;

.header {
  align-items: center;
  border-block-end: 1px solid color(border);
  display: flex;
  flex-wrap: wrap;
  gap: spacer(xs) spacer-clamp(m, l);
  height: var(--height);
  justify-content: space-between;
  order: 2;
  padding-block: spacer(m);

  @include breakpoint(sm) {
    order: -1;
  }

  &__column {
    align-items: center;
    display: flex;
    flex-grow: 1;
    gap: spacer-clamp(s, m);
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: spacer-clamp(s, m);
  }

  &__navigation {
    ul {
      @include clear-list;
      align-items: center;
      background-color: transparent;
      display: flex !important;
      flex-direction: row;
      flex-wrap: wrap;
      gap: spacer(m);
      inset: auto;
      padding: 0;
      position: relative;

      @include breakpoint(lg) {
        gap: spacer(l);
      }
    }

    li {
      margin-block: 0;
    }

    a {
      color: color(heading);
      text-decoration: none;

      &:hover {
        color: color(primary);
      }

      &[aria-current='page'] {
        font-weight: 700;
      }
    }
  }
}
