@use 'sprucecss/scss/spruce' as *;

.post-heading {
  @include layout-stack('s');

  &__title {
    font-size: responsive-font-size(3.5rem, 30, '4.5vw');
    line-height: config('line-height-sm', $typography);
    max-width: 18ch;
  }

  &__description {
    font-size: config('font-size-lead', $typography);
    max-width: 50ch;
  }
}
