@use 'sprucecss/scss/spruce' as *;

.post-card {
  $this: &;

  @include layout-stack('s');
  @include a11y-card-link('.card__link', true);
  background-color: color('background', 'card');
  border: 1px solid color('border');
  border-radius: config('border-radius-sm', $display);
  padding: spacer('l') spacer-clamp('m', 'l');

  &__serial-number {
    color: color('primary');
    font-family: config('font-family-heading', $typography);
    font-size: responsive-font-size(4rem, 30, '4vw + 1rem');
    font-weight: 800;
    line-height: 0.8;

    &::before {
      content: counter(card, decimal-leading-zero);
      counter-increment: card;
    }
  }

  &__title {
    font-size: font-size('h3');
  }
}
