@use 'sprucecss/scss/spruce' as *;

.theme-switcher {
  color: color('text');
  display: inline-flex;
  position: relative;

  &[data-theme-mode='system'] &__system-mode { display: flex; }
  &[data-theme-mode='light'] &__light-mode { display: flex; }
  &[data-theme-mode='dark'] &__dark-mode { display: flex; }

  button {
    display: none;

    > * {
      pointer-events: none;
    }
  }
}
