@use 'sprucecss/scss/spruce' as *;

.toc {
  @include layout-stack('s');

  &__title {
    font-size: font-size('h4');
  }

  &__navigation {
    ol {
      @include clear-list;
      @include layout-stack('xs');
    }

    a {
      color: color('text');
      text-decoration: none;

      &:hover,
      &:focus {
        color: color('primary');
      }
    }
  }
}
