<footer class="footer">
    <div class="container container--wide">
        <div class="footer__inner">
            <div class="footer__column">
                <a class="footer__logo" href="#">
                    <img
                        src="/img/cone-docs-logo-dark.svg"
                        alt="{{ site.name }}"
                        width="72"
                        height="72"
                        data-theme-mode="data-theme-mode"
                        data-light-asset="/img/cone-docs-logo-dark.svg"
                        data-dark-asset="/img/cone-docs-logo-light.svg"
                    />
                </a>
                <div class="footer__socials">
                    {% if (site.social.github) %}
                        <a href="{{ site.social.github }}">
                            {% svgIcon './src/img/icon/github.svg' %}
                        </a>
                    {% endif %}
                    {% if (site.social.discord) %}
                        <a href="{{ site.social.discord }}">
                            {% svgIcon './src/img/icon/discord.svg' %}
                        </a>
                    {% endif %}
                    {% if (site.social.twitter) %}
                        <a href="{{ site.social.twitter }}">
                            {% svgIcon './src/img/icon/twitter.svg' %}
                        </a>
                    {% endif %}
                </div>
                <p class="footer__copyright">
                    © {{ global.year() }} - {{ site.copyright }}
                </p>
            </div>
            <div class="footer__column">
                <h3 class="footer__title" id="footer-title-01">
                    Getting Started
                </h3>
                <ul
                    class="footer__navigation"
                    aria-labelledby="footer-title-01"
                >
                    <li><a href="#">Introduction</a></li>
                    <li><a href="#">Installation</a></li>
                    <li><a href="#">Structure and Code</a></li>
                    <li><a href="#">Sass</a></li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__title" id="footer-title-02">Elements</h3>
                <ul
                    class="footer__navigation"
                    aria-labelledby="footer-title-02"
                >
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">Tables</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Forms</a></li>
                </ul>
            </div>
            <div class="footer__column">
                <h3 class="footer__title" id="footer-title-03">More From Us</h3>
                <ul
                    class="footer__navigation"
                    aria-labelledby="footer-title-03"
                >
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Pine - A web development blog</a></li>
                    <li><a href="#">Root - An admin package for Laravel</a></li>
                    <li><a href="#">Bite-Sized Accessibility</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
