{% set previousPost = collections.posts | getPreviousCollectionItem %}
{% set nextPost = collections.posts | getNextCollectionItem %}

<nav class="post-navigation">
    {% if previousPost %}
        <a class="post-navigation-item post-navigation-item--prev" href="{{ previousPost.url }}">
            <span class="post-navigation-item__icon">
                {% svgIcon './src/img/icon/arrow-back.svg' %}
            </span>
            <span class="post-navigation-item__caption">
                Previous
                <span class="post-navigation-item__title">{{ previousPost.data.title }}</span>
            </span>
        </a>
    {% endif %}
    {% if nextPost %}
        <a class="post-navigation-item post-navigation-item--next" href="{{ nextPost.url }}">
            <span class="post-navigation-item__caption">
                Next
                <span class="post-navigation-item__title">{{ nextPost.data.title }}</span>
            </span>
            <span class="post-navigation-item__icon">
                {% svgIcon './src/img/icon/arrow-forward.svg' %}
            </span
        ></a>
    {% endif %}
</nav>
