<link rel="preload" as="font" type="font/woff2" href="/font/manrope-v14-latin-regular.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/font/manrope-v14-latin-600.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/font/manrope-v14-latin-800.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/font/open-sans-v35-latin-regular.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/font/open-sans-v35-latin-700.woff2" crossorigin>
