<link rel="preload" as="font" type="font/woff2" href="/font/manrope-v13-latin_latin-ext-regular.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/font/manrope-v13-latin_latin-ext-600.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/font/manrope-v13-latin_latin-ext-700.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/font/open-sans-v34-latin_latin-ext-regular.woff2" crossorigin>
<link rel="preload" as="font" type="font/woff2" href="/font/open-sans-v34-latin_latin-ext-700.woff2" crossorigin>
