<aside class="sidebar l-main__sidebar">
    <div class="sidebar__header">
        <a class="sidebar__logo" href="/">
            <img
                src="/img/cone-docs-logo-dark.svg"
                alt="{{ site.name }}"
                height="72"
                width="72"
                data-theme-mode="data-theme-mode"
                data-light-asset="/img/cone-docs-logo-dark.svg"
                data-dark-asset="/img/cone-docs-logo-light.svg"
            >
        </a>
        <button class="btn btn--primary btn--icon sidebar__toggle" data-action="sidebar-toggle" aria-controls="primary-menu" aria-expanded="false" aria-label="Toogle navigation">
            {% svgIcon './src/img/icon/menu.svg', 'btn__icon' %}
        </button>
    </div>
    <div class="sidebar__body">
        {% set navPages = collections.all | eleventyNavigation %}
        {% for navigation in navPages %}
            <div class="sidebar-section">
                <h3 class="sidebar-section__title">{{ navigation.key }}</h3>
                <nav class="sidebar-section__navigation">
                    <ul>
                        {% for item in navigation.children %}
                            <li><a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.key }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endfor %}
    </div>
</aside>
