<aside class="sidebar l-main__sidebar">
    <div class="sidebar__body">
        {% if navigation.header.length > 0 %}
            <div class="sidebar-section sidebar-section--navigation">
                <h3 class="sidebar-section__title">Navigation</h3>
                <nav class="sidebar-section__navigation">
                    <ul>
                        {% for item in navigation.header %}
                        <li>
                            <a
                                href="{{ item.url }}"
                                {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
                                {% if item.external %}
                                    target="_blank"
                                    rel="noopener"
                                {% endif %}
                            >
                                {{ item.caption }}
                                {% if item.external %}
                                    <span class="sr-only">Open in new window</span>
                                    {% svgIcon './src/img/icon/arrow-outward.svg', 'btn__icon' %}
                                {% endif %}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endif %}

        {% set navPages = collections.all | eleventyNavigation %}
        {% for navigation in navPages %}
            <div class="sidebar-section">
                <h3 class="sidebar-section__title">{{ navigation.key }}</h3>
                <nav class="sidebar-section__navigation">
                    <ul>
                        {% for item in navigation.children %}
                            <li><a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.key }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endfor %}
    </div>
    <div class="sidebar__footer">
        © {{ global.year() }} - {{ site.copyright }}
    </div>
</aside>
