<aside class="sidebar l-main__sidebar">
    <div class="sidebar__header"><a class="sidebar__logo" href="/">
        <img
            src="/img/cone-docs-logo-dark.svg"
            alt="{{ site.name }}"
            height="72"
            width="72"
            data-theme-mode="data-theme-mode"
            data-light-asset="/img/cone-docs-logo-dark.svg"
            data-dark-asset="/img/cone-docs-logo-light.svg"
        >
    </a>
      <button class="btn btn--primary btn--icon sidebar__toggle" data-action="sidebar-toggle" aria-controls="primary-menu" aria-expanded="false" aria-label="Toogle navigation">
        <svg class="icon btn__icon" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" width="24" height="24" style="fill:currentColor;">
                  <path d="M24,19.6c0,-0.331 -0.269,-0.6 -0.6,-0.6l-20.8,0c-0.331,0 -0.6,0.269 -0.6,0.6l0,2.8c0,0.331 0.269,0.6 0.6,0.6l20.8,-0c0.331,-0 0.6,-0.269 0.6,-0.6l0,-2.8Zm0,-9c0,-0.331 -0.269,-0.6 -0.6,-0.6l-22.8,-0c-0.331,-0 -0.6,0.269 -0.6,0.6l0,2.8c0,0.331 0.269,0.6 0.6,0.6l22.8,-0c0.331,-0 0.6,-0.269 0.6,-0.6l0,-2.8Zm0,-9c0,-0.331 -0.269,-0.6 -0.6,-0.6l-15.8,-0c-0.331,-0 -0.6,0.269 -0.6,0.6l0,2.8c0,0.331 0.269,0.6 0.6,0.6l15.8,-0c0.331,-0 0.6,-0.269 0.6,-0.6l0,-2.8Z"></path>
        </svg>
      </button>
    </div>
    <div class="sidebar__body">
        {% for navigation in navigation.sidebar %}
            <div class="sidebar-section">
                <h3 class="sidebar-section__title">{{ navigation.title }}</h3>
                <nav class="sidebar-section__navigation">
                    <ul>
                        {% for item in navigation.items %}
                            <li><a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endfor %}
    </div>
</aside>
